$backColor:#354656;
$childColor:#3d4f60;
$frontColor:#5faee3;
$paddingLeft:15px;
$paddingCurrentLeft:13px;


@mixin fontStyle{
    font-weight: 500;
    letter-spacing: 1px;
    color:whitesmoke;
    text-decoration: none;
}

@mixin bigFont{
    @include fontStyle;
    line-height: 60px;
    font-size:medium;
}

@mixin smallFont{
    @include fontStyle;
    line-height: 40px;
    font-size: small;
}

.totalaside{
    background-color: $backColor ;
    height: 100%;
    max-width:200px;
    position: fixed;
    padding: 0;
}

#logoImg{
    display: block;
    width: 70%;
    max-width:159px;
    margin: 20px 0 20px 15px;
}

.asidePanelLink:link,
.asidePanelLink:hover,
.asidePanelLink:visited
{
    padding-left: $paddingLeft;
    margin-bottom: 2px;
    display: block;
    width: 100%;
    @include bigFont;
}

.asideCurrentPanelLink{
    background-color: $frontColor;
}


.asideChildPanel{
    padding-left:0;
    margin: 0;
}



.asideChildPanel li {
    padding-left: $paddingLeft;
    list-style: none;
    background-color: $childColor;
}


.asideCurrentChildPanelLi{
    border-left: 2px solid $frontColor;
    padding-left: $paddingCurrentLeft !important;
}

.asideChildPanel li a{
    @include smallFont;
}

