$asideWidth: 200px;
$navHeight:50px;
$deepBlue: #354656;
html{
    height: 100%;

}

body{
    position: relative;
    height: 100%;
    background-color: whitesmoke;
    font-family: Adobe 黑体 Std R, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home{
    position: fixed;
    left:200px;
    width: 100%;
}


article{
    left:300px;
    top:100px;
    background-color: white;
    min-height: 700px !important;
    border-radius: 5px 5px;
    border: 1px solid #e7e7e7;
    padding: 0 !important;
}

.articleHeader{
    border-bottom:2px solid #e7e7e7;
    width: 100%;
    min-height: 60px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articleTitle{
    font-size: larger;
    padding-right: 50px;
}

.articleBody{
    padding: 20px 50px;
}

