$asideWidth: 200px;
$navHeight:50px;
$deepBlue: #354656;
html{
    height: 100%;

}

body{
    position: relative;
    height: 100%;
    background-color: whitesmoke;
    font-family: Adobe 黑体 Std R, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home{
    position: fixed;
    left:200px;
    width: 100%;
}


article{
    position: fixed;
    left:300px;
    top:100px;
    background-color: white;
    min-height: 700px !important;
    border-radius: 5px 5px;
}