@import "common";


.dialogStyle{
    position: absolute;
    min-width: 400px;
    top: 40%;
    left:50%;
    transform:translate(-40%, -50%);
    border-radius: 5px 5px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    outline: none;
}

div[aria-labelledby=modal-label]{
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


div[aria-labelledby=modal-label]>div:first-child{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
    background-color: black;
    opacity: 0.3;
}

.dialogHeader{
    color:white;
    background-color: $deepBlue;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 3px;
    font-size: medium;
}

.dialogCloseLink{
    color:white;
    float: right;
    margin-right: 10px;
    text-decoration: none;
}

.dialogCloseLink:hover{
    color:gray;
    text-decoration: none;
}

.dialogContent{
    background-color: whitesmoke;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    min-height: 100px;
    padding: 10px;
}