@import "common";

nav{
    padding-left: $asideWidth;
    padding-right: 20px;
    background-color: white !important;
}

.navbar-header{
    border-right: 1px solid lightgray;
}

.navbar-right>li{
    border-left:1px solid lightgray;
    min-width: 60px;
    text-align: center;
}

#headpic{
    width: 30px;
    margin: 0 10px;
}

#userLink{
    display: inline-block;
}

.glyphicon{
    font-size:large;
}

.badge{
    background-color: deepskyblue;
}