body,html{
	padding:0px;
	margin:0px;
	height:100%;
	/* overflow:hidden; */
	/* background-color:#EFF3F6; */
}
ul,li{
	list-style:none;
	padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
}
.fr{
	float:right;
}
.fl{
	float:left;
}

#top{
	width:100%;
	overflow:hidden;
	height:100px;
	line-height:100px;
	position:relative;
	background-color:#fff;
	border-bottom:3px solid #EFF3F6;
}
#top .title{
	width:1120px;
	margin:0 auto;
}

#top .title .home{

}
#top .title .home span{
	border:3px solid #007EE5;
	border-radius:5px;
	display:inline-block;
	color:#007EE5;
	width:170px;
	text-align:center;
	height:30px;
	line-height:30px;
	font-size:18px;
}
#top .title .logo{
	width:160px;
	height:55px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-28px;
	margin-left:0px;
}
#top .title .tit{

}
#top .title .tit span{
	color:#007EE5;
	font-size:20px;
}
#top .title .tit span a{
	color:#007EE5;
}


#section{
	padding:80px 30px;
}
#section .sec_box{
	width:1120px;
	margin:0 auto;
}
#section .sec_box .img{
	width:50%;
	text-align:center;
}
#section .signin_box{
	width:50%;
}
#section .signin_box .title{
	width:300px;
	margin:0 auto;
	height:70px;
	text-align:center;
	line-height:70px;
	margin-bottom:10px;
}
#section .signin_box .title span.wrie{
	display:inline-block;
	width:70px;
	height:2px;
	background:#e1e1e1;
	position:relative;
	top:-5px;
}
#section .signin_box .title span.txt{
	color:#A0A0A0;
	font-size:20px;
	margin:0px 20px;
	/* font-weight:bold; */
}
#section .from .line{
	width:400px;
	margin:0 auto;
	text-align:center;
	height:70px;
	/* line-height:50px; */
}
#section .from .line label{
	display:inline-block;
	width:60px;
	text-align:center;
	color:#A0A0A0;
	font-size:16px;
}
#section .from .line input{
	width:270px;
	height:26px;
	padding:0px;
	outline:none;
	border:1px solid #A0A0A0;
	border-radius:3px;
	padding-left:10px;
}
::-webkit-input-placeholder{color:#D0D0D0;}
::-moz-placeholder{color:#D0D0D0;}
:-moz-placeholder{color:#D0D0D0;}

#section .from .pwd{
	position:relative;
}
#section .from .pwd b{
	display:inline-block;
	width:19px;
	height:11px;
	position:absolute;
	right:40px;
	top:9px;
	cursor:pointer;
}

#section .btns{
	height:60px;
}
#section .btns input{
	margin-left:150px;
}
#section .btns span{
	font-size:10px;
	font-weight:bold;
	position:relative;
	top:-2px;
}
#section .btns .signup{
	width:100px;
	height:35px;
	color:#fff;
	background:#0073E3;
	border:none;
	outline:none;
	border-radius:3px;
	cursor:pointer;
	margin-left:80px;
}
#section .btns a{
	margin-left:150px;
	padding-top:30px;
	position:relative;
	top:30px;
}
